.row{
    
    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }
    @mixin atMedium{
        display: flex;
        justify-content: space-between;
    &__b-margin-until-medium{
        margin-bottom: 0;
    }  
    .row__medium{
        padding: 0 3rem;
        padding-bottom: 2rem;
    }
    .column{
        padding: 1.5rem;
    }    
    
    &__4{
        flex: 1;
    }
    &__8{
        flex: 2.5;
        padding-right: 10px;
    }
    }
    
}