.row{
    
    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }
    @mixin atMedium{
        display: flex;
        justify-content: space-between;
    &__b-margin-until-medium{
        margin-bottom: 0;
    }  
    .row__medium{
        padding: 0 3rem;
        padding-bottom: 2rem;
    }
    .column{
        padding: 1.5rem;
        flex: 1;
    }    
    
    &__4{
        flex: 1;
    }
    &__8{
        flex: 2.5;
        padding-right: 10px;
    }
    }
    @mixin atLarge{
        display: flex;
        justify-content: space-between;
    &__b-margin-until-medium{
        margin-bottom: 0;
    }  
    .row__medium{
        padding: 0 3rem;
        padding-bottom: 2rem;
    }
    .column{
        padding: 1.5rem;
        flex: 1;
    }    
    
    &__4{
        flex: 1;
    }
    &__8{
        flex: 2.5;
        padding-right: 10px;
    }
    }
    &__column-3{
        flex:1;
        padding:1rem;
    }
    &--t-padding{
        padding-top:80px;
    }
    &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      
      display: flex;
    }

  }
}